---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$small: 768px !default;
$medium: 900px !default;
$medium-wide: 1024px !default;
$large: 1280px !default;
$x-large: 1500px !default;
$max-width: $x-large !default;

$right-sidebar-width-narrow: 180px !default;
$right-sidebar-width: 270px !default;
$right-sidebar-width-wide: 370px !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials